.error {
    border-color: red !important;
}

/* Colores de fondo según el tamaño */
.verde {
    background-color: green !important;
}

.azul {
    background-color: blue !important;
}

.amarillo {
    background-color: yellow !important;
}

#pagina {
    width: 100% !important;
    height: 100vh !important;
    transition: background-color 0.5s !important;
}
/* El !important es para que cuando se este usando TailWindCSS siga usando estos estilos, es decir, que si o si tienen que estar*/
